<div class="col-md-6">
<div class="block">
  <form [formGroup]="studForm" (ngSubmit)="onSubmit()" class="form-container centered">
   
    <div class="form-group">
      <label>Register Number</label>
      <input type="text" class="form-control" required [(ngModel)]="student.studnumberid"  
      name="studnumberid" formControlName="studnumberid" [ngClass]="{ 'is-invalid': submitted && f.studnumberid.errors }"/>
      <div *ngIf="submitted && f.studnumberid.errors" class="alertcolor">
        <div *ngIf="f.studnumberid.errors.required && !f.studnumberid.touched">Name is required</div>
        <!-- <div *ngIf="f.username.errors?.minlength">minimum digits is 9</div>
        <div *ngIf="f['username'].errors?.maxlength">maximum digits is upto 9</div>  -->
      </div>
    </div>
    <div class="form-group">
      <label>Student Name</label>
      <input type="text" class="form-control" [(ngModel)]="student.studentname"  name="studentname" formControlName="studentname"/>
       
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="student.password"  name="password" formControlName="password"
       class="form-control"/>
    </div>

    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" [(ngModel)]="student.mobilenumber" name="mobilenumber" formControlName="mobilenumber"
       class="form-control"/>
    </div>
    
    <div class="form-group">
      <label>Email</label>
      <input type="text" [(ngModel)]="student.email" name="email" formControlName="email"
       class="form-control"/>
    </div>
    
    <div class="form-group">
      <label>Male</label>
      <input type="radio" [(ngModel)]="student.gender" name="gender"  value="male" formControlName="gender"/>
       <label>FeMale</label>
       <input type="radio" [(ngModel)]="student.gender" name="gender" value="female" formControlName="gender"/>
    </div>
    <div class="form-group">
      <label>Adress</label>
      <input type="text" [(ngModel)]="student.address" name="address" formControlName="address" class="form-control"/>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary">submit</button><br>
    </div>
  
  </form>
  </div>

  
</div>

<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Register Number</th>
        <th>Student Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>gender</th>
        <th>Adress</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of data">
        <td>{{article.studnumberid}}</td>
        <td>{{article.studentname}}</td>
        <td>{{article.password}}</td>
        <td>{{article.mobilenumber}}</td>
        <td>{{article.email}}</td>
        <td>{{article.gender}}</td>
        <td>{{article.address}}</td>
        <td colspan="2"><a  [routerLink]="['/editstudent', article._id]" class="btn-sm btn-primary" >edit</a>
          <a  class="btn-sm btn-danger"  (click)="deletestudent(article._id)" >delete</a></td>
      </tr>
    
    </tbody>
  </table>
</div>




